/*Color naranjo de capro : #FC8250*/
/*Color gris de capro : #6E6E6E*/


/*Propiedades del nav*/
.navbar-personalizado {
    background-color:#6E6E6E;
}

.nav-link.active {
    color: white;
}

.boton-personalizado {
    background:#FC8250;
    color: white;
    transition: 0.3s;
}

.boton-personalizado:hover {
    background:#df3f00;
    color: white;
}


/*Propiedades del body*/

body {
    background:#b13606;
}

/* .contenedor-primario {
    font-weight: bold;
    color: white;
    font-size: 55px;
    background: red; 
    width: 100%;
} */





