* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

/*Color naranjo de capro : #FC8250*/
/*Color gris de capro : #6E6E6E*/


/*Propiedades del nav*/
.navbar-personalizado {
    background-color:#6E6E6E;
}

.nav-link.active {
    color: white;
}

.boton-personalizado {
    background:#FC8250;
    color: white;
    transition: 0.3s;
}

.boton-personalizado:hover {
    background:#df3f00;
    color: white;
}


/*Propiedades del body*/

body {
    background:#f1f1f1;
}

.contenedor-primario {
    width: 100%;
    height: 500px;
    background: #FC8250;
    background-image: url(../img/imagen-banner.jpg);
}

#contenedor-primario-parrafo {
    font-size:50px;
    text-align: justify;
    font-weight: bold;
    margin-left: 20px;
}

.contenedor-divisor {
    width: 100%;
    height: 100px;
    text-align: center;
    background: #6E6E6E;
    margin-left: 0px;
    
}

.contenedor-divisor h1 {
    font-weight: bold;
    color: #fff;
    
}

.tarjeta {
    width: 250px;
    height: 250px;
    border: black solid;
    margin-top:20px;
    margin-bottom:20px;
    
}















